<section>

    <a class="avatar" href="/">
	<img id="avatar" src="http://www.gravatar.com/avatar/9f92ee1c947bf1d8ee1a5ff662c24eaf?s=128&d=identicon&r=G" alt="Me" title="Me" height="128" weight="128" />
    </a>

    <div id="aboutme" class="span3">
        <h3>About Me</h3>
        <p>
            I'm a web developer from Dublin, Ireland and have been programming in everything from VB6 (eek!) to Java & C# since the late 90's. 
        </p>
        <p>
            I work at <a target="_blank" href="http://www.skillsoft.com" title="Skillsoft">Skillsoft</a>.
        </p>
    </div>

</section>
