<section>
	<h1>Elsewhere</h1>
    <div id="elsewhere">
        <ul class="elsewhere">
            <li id="twitter">
            	<a href="https://twitter.com/ronnieDrew" rel="me">Follow me on Twitter</a>
        	</li>
            <li id="github">
            	<a href="https://github.com/ronnieDrew" rel="me">My GitHub account</a>
        	</li>
            <li id="googleplus">
            	<a href="https://plus.google.com/101387387055722594734/posts" rel="me">Google+</a>
        	</li>
            <li id="appdotnet">
            	<a href="https://alpha.app.net/ronniedrew" rel="me">App.net</a>
        	</li>
        </ul>
    </div>
<section>