<div class="page-footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span1">
                        <img id="avatar" src="http://www.gravatar.com/avatar/9f92ee1c947bf1d8ee1a5ff662c24eaf?s=128&d=identicon&r=G" alt="Me" title="Me" />
                    </div>
                    <div id="aboutme" class="span3">
                        <h3>About Me</h3>
                        <p class="aboutme">
                            I'm a full-stack web developer from Dublin, Ireland and have been programming in everything from VB6 (eek!) to Java & C# since the 
                            late 90's. I work at <a target="_blank" href="http://www.skillsoft.com" title="Skillsoft">Skillsoft</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                
            </div>
            <div id="elsewhere" class="span4">
                <h3>Elsewhere</h3>
                <ul class="elsewhere">
                    <li id="twitter"><a href="https://twitter.com/ronnieDrew">Follow me on Twitter</a></li>
                    <li id="github"><a href="https://github.com/ronnieDrew">My GitHub account</a></li>
                    <li id="googleplus"><a href="https://github.com/ronnieDrew">Google+</a></li>
                    <li id="appdotnet"><a href="https://github.com/ronnieDrew">App.net</a></li>
                </ul>
            </div>
        </div>

        <div class="row creativecommons">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">
                <img id="creativecommons-img" alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
            </a>
            <br />
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">
            This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.
            </a>
        </div>

      	<div class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></span>
    </div>
</div>